#template-container {
	/* To avoid conflicts, prefix your CSS class names with your Add-In name. In this example: "template-container",
	template with the the name of your Add-In and container the class name. */
	padding: 1em;
}

div.charts-container{
	height: auto;
	width:70%;
	border-style: solid;
	border-color: #2978C8;
	border-radius: 5px;
}
div.fuelsensor-container{
	margin-top: 10px;
	margin-left: 10px;
	border-style: solid;
	border-color: #2978C8;
	border-radius: 5px;
	width: 70%;
}

div.fuelsensor-fakeheader{
	color: white;
    background-color: #2978C8;
}

header{
    padding: 0.01em;
    color: white;
    background-color: #2978C8;
    text-align: left;
}

#chartContainer{
	float:top;
	position: relative;
}

#chartContainer2{
	float:bottom;
	position: relative;
}