#template-container {
	/* To avoid conflicts, prefix your CSS class names with your Add-In name. In this example: "template-container",
	template with the the name of your Add-In and container the class name. */
	padding: 1em;
}

}
div.charts-container{
	height: auto;
	width:70%;
	border-style: solid;
	border-color: #2978C8;
	border-radius: 5px;
}

#for-table{
	float:left;
}
