#template-container {
	/* To avoid conflicts, prefix your CSS class names with your Add-In name. In this example: "template-container",
	template with the the name of your Add-In and container the class name. */
	padding: 1em;
}

.hidden {
    display: none;
}

}
div.charts-container{
	height: auto;
	width:70%;
	border-style: solid;
	border-color: #2978C8;
	border-radius: 5px;
}

table.is-striped tr.selected {
    background-color: #e92929 !important;
    color:#fff;
    vertical-align: middle;
    padding: 1.5em;
}

.fueladdin-row {
  margin-right: -15px;
  margin-left: -15px;
}

.fueladdin-row:before,
.fueladdin-row:after{
  display: table;
  content: " ";
}

.fueladdin-row:after{
  clear: both;
}

#genDeviceFuelInfo, .container-fluid, .fueladdin-row{
  height:100%;
}